@font-face {
  font-family: Figtree;
  src: url("assets/fonts/Figtree-VariableFont_wght.ttf");
}
:root {
  --clr-primary: hsl(47, 88%, 63%); /* yellow */
  --clr-neutral-1: hsl(0, 0%, 100%); /* white */
  --clr-neutral-2: hsl(0, 0%, 50%); /* grey */
  --clr-neutral-3: hsl(0, 0%, 7%); /* black */

  --font-family-regular: Figtree, sans-serif;
  --fw-regular: 500;
  --fw-bold: 800;
  --fs-xl: 5rem;
  --fs-600: 1.5rem;
  --fs-400: clamp(0.6875rem, 13 + 0.05vw, 16px);
  --fs-300: 0.875rem;

  --ds-x: 0.5rem;
  --ds-y: 0.5rem;
  --br-main: 1.25rem;
}

/* Andy Bell reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--font-family-regular);
  font-size: var(--fs-400);
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  background-color: var(--clr-primary);
  display: grid;
  place-content: center;
  margin-left: 1em;
  margin-right: 1em;
  color: var(--clr-neutral-3);
  padding-left: 1em * var(--fs-400);
  padding-right: 1em * var(--fs-400);
}

.grid {
  background-color: var(--clr-neutral-1);
  border-radius: var(--br-main);
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 1.3rem;
  place-content: center;
  width: calc(37.5ch * var(--fs-400) * 0.0625);
  margin: 0 auto;
  max-width: 24rem;
  border: 1px solid var(--clr-neutral-3);
  filter: drop-shadow(var(--ds-x) var(--ds-y) var(--clr-neutral-3));
}

.grid:has(a:hover) {
  filter: drop-shadow(
    calc(var(--ds-x) * 2) calc(var(--ds-y) * 2) var(--clr-neutral-3)
  );
}

.course-information {
  display: grid;
  margin: auto;
  padding-left: calc(1.25 * var(--fs-400));
  padding-right: calc(1.25 * var(--fs-400));
  --padding-top-callout:  0.4rem; 
  --padding-sides-callout:  0.8rem;
  --padding-bottom-callout: 0.45rem;
  width: calc(100% - 2.75rem);
  align-items: center;
}

.concept-image {
  width: 100%;
  margin: 0 auto 1rem auto;
  border-radius: 0.75rem;
}

.callout {
  background-color: var(--clr-primary);
  padding: var(--padding-top-callout) var(--padding-sides-callout)
    var(--padding-bottom-callout) var(--padding-sides-callout);
  font-weight: var(--fw-bold);
  font-size: var(--fs-300);
  border-radius: 0.25rem;
  line-height: 3;
  /*gap: 0.8rem;*/
  margin-bottom: 0.75rem;
}

.course-published {
  line-height: 1.5;
  margin-top: 0.4rem;
  font-size: var(--fs-300);
  margin-bottom: 0.75rem;
}
.course-summary {
  color: var(--clr-neutral-2);
  margin-bottom: 1.25rem;
}

.course-title {
  font-weight: var(--fw-bold);
  font-size: var(--fs-600);
  margin-bottom: 0.85rem;
}

.course-title a {
  color: var(--clr-neutral-3);
  text-decoration: none;
  line-height: 1.7;
}

.course-title a:hover {
  color: var(--clr-primary);
}

.course-instructor {
  margin-bottom: 1.25rem;
  font-weight: var(--fw-bold);
  font-size: var(--fs-300);
  display: flex;
  align-items: center;
}

.course-instructor p {
  margin-left: 0.75rem;
  padding-bottom: 0.5rem;
}

.instructor-image {
  height: 2rem;
  width: 2rem;
  margin-bottom: 0.25rem;
}
